/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {
  /* colors */
  --clr-dark: #1a1a1a;
  --clr-light: #f8f9fa;
  --clr-green-500: hsla(172, 95%, 18%, 1);
  --clr-green-600: hsla(171, 15%, 35%, 1);
  --clr-brown:#e0b190;

  /* font-size */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.35rem);
  --fs-800: 3.5rem;
  --fs-700: 2.5rem;
  --fs-600: 1.2rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.8rem;
  --fs-200: 0.7rem;

  /* font-family */
  --ff-sans-serif: 'Nunito Sans', sans-serif;

  /* other-variable */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --transition: all 0.3s linear;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ----------------- */
/* RESET */
/* ----------------- */

/* Box-sizing */
*,
::after,
::before {
  box-sizing: border-box;
}

/* Reset-margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}

/* set up body */
body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  color: var(--clr-dark);
  background-color: var(--clr-white);
  line-height: 1.5;
  min-height: 100vh;
}

/* to make img easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form element easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation to people who turned them off */
@media (prefers-reduced-motion: reduced) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------- */
/* UTILITY CLASSES*/
/* ----------------- */

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.flow-space-small {
  --flow-space: 0.5rem;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 0.75rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: var(--clr-white);
  color: var(--clr-dark);
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.inline-padding {
  padding: 20px;
}

/* color */

.bg-dark {
  background-color: var(--clr-dark);
}
.bg-light {
  background-color: var(--clr-light);
}
.bg-green {
  background-color: var(--clr-green-500);
}

.bg-brown {
  background-color: var(--clr-brown);
}

.text-dark {
  color: var(--clr-dark);
}
.text-accent {
  color: #cfcdcd;
}

.text-white {
    color: #ffff;
}
.text-green {
  color: var(--clr-green);
}

/* typography */
.ff-sans-serif {
  font-family: var(--ff-sans-serif);
}
.ff-monospace {
  font-family: var(--ff-monospace);
}

.letter-spacing-1 {
  letter-spacing: 4px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalized {
  text-transform: capitalize;
}

.underlined {
  text-decoration: underline;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

/* ----------------- */
/* COMPONENTS*/
/* ----------------- */
.marque {
  background-color: hsla(172, 95%, 18%, 1);
  padding: .3em;
  overflow: hidden;
  display: flex;
  justify-content: end;
  gap: 1em;
}

.marque h2 {
  color: #f8f9fa;
  font-size: .7em;
  white-space: nowrap;
  animation: move-rt1 7000ms linear infinite;
}

@keyframes move-rt1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* header */

header {
    justify-content: space-between;
    margin-top: 1em;
    padding-inline: 2em;
}

.center-header {
    padding-top: 12px;
}

.heading {
    text-align: center;
    margin-top: 2em;
}

nav ul li a {
  cursor: pointer;
  color: var(--clr-green-600);
}

.link{
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: black;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: black;
}

.right-header {
  padding-top: 15px;
}


.main-banner{
  background: url(assets/main-banner.svg) no-repeat;
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: center;
}

.multi-column {
  display: flex;
  justify-content: space-evenly
}

.multi-column-img-wrapper img {
max-width:4em;
margin: 0 auto;
padding-bottom: 1em;
}


/* main */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.add-to-cart-button {
    border: none;
    padding: .7em;
    border-radius: 5px;
    background-color: var(--clr-green-500);
    text-transform: uppercase;
    color: #ffff;
    margin-top: 10px;
    border-radius: 30px;
    font-size: .7em;
    cursor: pointer;
}

.cart-wrapper {
  padding: 2px 5px;
  background-color: #1a1a1a;
  color: #f8f9fa;
  border-radius: 50% 50%;
  position: absolute;
  margin: 10px 10px;
}


/* products */
.stars {
  max-width: 4em;
  max-height: 1em;
}
.product-rating-count {
  color: #d4af37;
}

.added-container {
  visibility: hidden;
}

.added {
  visibility: visible;
}


/* about-us section */
.about-us-section h1 {
  text-align: center;
}

.about-section-wrapper{
  align-items: center;
  justify-content: space-around
}

.about-section-wrapper img {
  max-width: 60%;
}

.about-section-wrapper article {
  max-width: 500px;
}

/* footer */
footer {
    background-color:hsla(172, 95%, 18%, 1);
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    margin-top: 1em;
}

footer div ul li {
    padding-bottom: 1em;
}







/* ----------------- */
/* checkout page*/
/* ----------------- */

.cart-item-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.product-img {
  max-width: 10em;
}
.order-summary, .payment-summary {
  border: 2px solid black;
  padding: 2em;
}


.payment-summary-row {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

.update-quantity-link, .delete-quantity-link {
  color: #1f45a4;
  cursor: pointer;
}


.quantity-input {
  max-width: 30px;
  display: none;
}

.save-quantity-link {
  display: none;
  cursor: pointer;
}

.is-editing-quantity .quantity-input {
  display: initial;
}

.is-editing-quantity .save-quantity-link {
  display: initial;
}

.is-editing-quantity .quantity-label {
  display: none;
}

.logo {
  max-width: 5em;
}

.banner {
  display: flex;
}

.banner .banner-content {
  padding: 2em;
}

select {
  background-color: transparent;
  border-radius: 5px;
}
